.kaffePartyHeader {
  height: 200px;  
  background: url("images/coffee.jpg") no-repeat; 
  background-size: cover;
  font-family: 'Caveat';
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


.kaffeBackground {
  background-color: #ffeac8;
}